.searchcol{
    background-image: url(rightback.jpg);
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
}
.maincol{
    background-image: url(mainback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: azure;
}
h3{
    color: azure;
}
h5{
    color: azure;
}
br{
    color: aliceblue;
}

.divider{
    margin-top: 80px;
}

.card{
    text-align: center;
    color: azure;
}
h2{
    color: azure;
}
h4{
    color: azure;
}
.card-body{
    text-align: justify;
}
.searchcolumn{
    margin-left: 10%;
}

#temp{
    margin-top: 100px;
    margin-left: 50px;
}

#mainicon{
    margin-top: 200px;
    text-align: center;
}
.icon{
    margin-left: 30px;
    
}

.iconimg{
    width: 80px;
    height: 80px;
}
.imagebut{
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 500px) {
    .maincol{
        width: 400px;
        height: 400px;
    }
    .searchcol{
        width: 400px;
        height: 400px;
    }
    h1{
        font-size: 1rem
    }
    h2{
        font-size: 0.5rem;
    }
    h3{
        font-size: 0.5rem;
    }
    .text{
        font-size: 0.5rem;
    }
    .card-body{
        text-align: center;
    }
    .btn{
        width: 10px;
        height: 20px;
    }
    .form-control{
        width: 80px;
        height: 20px;
    }
    .heading{
        font-size: 1rem;
    }
    .card-header{
        height: 30px;
    }
    .searchcolumn{margin-left: opx;}
    #mainicon{
        margin-top: 100px;
    }
    #temp{
        margin-top: 100px;
        margin-left: 20px;
    }
    .iconimg{
        width: 30px;
        height: 30px;
    }
    .icon{
        margin-left: 10px;
        
    }
    .navbar{
        height: 60px;
    }
    .iconhead{
        width: 30px;
        height: 30px;
        font-size: 0.8rem;
    }
    .imagebut{
        width: 0px;
        height: 0px;
    }
    .btn{
        padding: 0px;
    }
    .divider{
        margin-top: 40px;
    }
    
  }